
/* === LiveView MAP === */

/* base */
ol, ul {
  list-style: none;
}

ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}


.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.h-auto {
  height: auto !important;
}

.mw-100 {
  max-width: 100% !important;
}

.mh-100 {
  max-height: 100% !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.m-auto {
  margin: auto !important;
}


.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}

.align-items-start {
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.align-items-baseline {
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
}

.align-items-stretch {
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

.align-content-start {
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important;
}

.align-content-end {
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important;
}

.align-content-center {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
}

.align-content-between {
  -ms-flex-line-pack: justify !important;
  align-content: space-between !important;
}

.align-content-around {
  -ms-flex-line-pack: distribute !important;
  align-content: space-around !important;
}

.align-content-stretch {
  -ms-flex-line-pack: stretch !important;
  align-content: stretch !important;
}


.flex-row {
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.flex-row-reverse {
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
  flex-wrap: wrap-reverse !important;
}

.flex-1 {
  flex: 1 !important;
}

.flex-fill {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}

.flex-grow-0 {
  -ms-flex-positive: 0 !important;
  flex-grow: 0 !important;
}

.flex-grow-1 {
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}

.flex-shrink-0 {
  -ms-flex-negative: 0 !important;
  flex-shrink: 0 !important;
}

.flex-shrink-1 {
  -ms-flex-negative: 1 !important;
  flex-shrink: 1 !important;
}

.w-50px {
  width: 50px;
}

.w-75px {
  width: 75px;
}

.w-100px {
  width: 100px;
}

.fs-11 {
  font-size: 11px !important;
}

.fs-13 {
  font-size: 13px !important;
}




.liveview-map {
  position: relative;
  height: 900px;
  color: white;
}

.cesium-viewer {
 
}

.live-highlighted-button {
  border: 1px solid #fff;
  color: #fff;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #ed7d31;
    color: #fff!important;
  }
}

/* Right Popups */
.right-popup-block {
  position: absolute;
  z-index: 1;
  top: 40px;
  right: -263px;
  /*bottom: 39px;*/
  box-sizing: border-box;
  width: 262px;
  outline: none;
  background: #022033;
  transition: right 0.2s;
}
.right-popup-block .title-block {
  font-family: 'benderbold', sans-serif;
  font-size: 13px;
  position: relative;
  padding: 10px 16px;
  text-transform: uppercase;
  color: #b4fafe;
  background: #012742 !important;
}
.right-popup-block .title-block .btn-close {
  position: absolute;
  top: 10px;
  right: 12px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: #13334a;
}
.right-popup-block .title-block .btn-close:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  margin-left: -5px;
  content: '';
  background: url(/assets/img/live_view/close_icon.png) no-repeat;
}
.right-popup-block .title-block .btn-close:hover:before {
  background-position: 0 -10px;
}

.right-popup-block .sidebar-maps-menu {
  width: 144px;
  margin: 5px auto 0;
}
.right-popup-block .sidebar-maps-menu > a {
  position: relative;
  color: #b4fafe;
  float: left;
  width: 24px;
  height: 24px;
  margin: 11px 24px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  display: block;
}
.right-popup-block .sidebar-maps-menu > a:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.right-popup-block .sidebar-maps-menu a.satellite-link:before {
  width: 24px;
  height: 24px;
  background: url(/assets/img/live_view/satellite_icon.png) no-repeat;
}
.right-popup-block .sidebar-maps-menu a.satellite-link:hover:before,
.right-popup-block .sidebar-maps-menu a.satellite-link.active:before {
  background-position: 0 -24px;
}
.right-popup-block .sidebar-maps-menu a.street-link:before {
  width: 22px;
  height: 20px;
  background: url(/assets/img/live_view/street_icon.png) no-repeat;
}
.right-popup-block .sidebar-maps-menu a.street-link:hover:before,
.right-popup-block .sidebar-maps-menu a.street-link.active:before {
  background-position: 0 -20px;
}
.right-popup-block .sidebar-maps-menu a.sea-link:before {
  width: 24px;
  height: 23px;
  background: url(/assets/img/live_view/sea_icon.png) no-repeat;
}
.right-popup-block .sidebar-maps-menu a.sea-link:hover:before,
.right-popup-block .sidebar-maps-menu a.sea-link.active:before {
  background-position: 0 -23px;
}
.right-popup-block .sidebar-maps-menu a.air-link:before {
  width: 21px;
  height: 21px;
  background: url(/assets/img/live_view/air_icon.png) no-repeat;
}
.right-popup-block .sidebar-maps-menu a.air-link:hover:before,
.right-popup-block .sidebar-maps-menu a.air-link.active:before {
  background-position: 0 -21px;
}
.right-popup-block .sidebar-maps-menu a.columbus-link:before {
  width: 24px;
  height: 24px;
  background: url(/assets/img/live_view/columbus_icon.png) no-repeat;
}

.right-popup-block .sidebar-maps-menu a.columbus-link:hover:before,
.right-popup-block .sidebar-maps-menu a.columbus-link.active:before {
  background-position: 0 -24px;
}
.right-popup-block .sidebar-maps-menu a.fuse-link:before {
  width: 24px;
  height: 19px;
  background: url(/assets/img/live_view/fuse_icon.png) no-repeat;
}
.right-popup-block .sidebar-maps-menu a.fuse-link:hover:before,
.right-popup-block .sidebar-maps-menu a.fuse-link.active:before {
  background-position: 0 -19px;
}
.right-popup-block .sidebar-maps-menu > a span {
  display: none;
  color: #b4fafe;
}
.right-popup-block .sidebar-maps-menu > a:hover span {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 35px;
  display: block;
  box-sizing: border-box;
  width: 80px;
  height: 24px;
  line-height: 24px;
  padding-top: 2px;
  color: #b4fafe;
  background: #022033;
  text-align: left;
}
.right-popup-block .sidebar-maps-menu a.street-link:hover span,
.right-popup-block .sidebar-maps-menu a.air-link:hover span,
.right-popup-block .sidebar-maps-menu a.fuse-link:hover span {
  left: auto;
  right: 35px;
  padding-top: 0;
  text-align: right;
}
.right-popup-block .selectmenu-block {
  margin-top: 7px;
  padding: 16px;
}
.right-popup-block .selectmenu-block p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #6ca6b5;
}
.right-popup-block #selectmenu {
  display: none;
}
.right-popup-block .ui-selectmenu-button.ui-button {
  font-size: 16px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 9px 10px 9px 16px;
  border: 1px solid #6ca6b5;
  outline: none;
  background: #13334a;
}
.right-popup-block .ui-selectmenu-button.ui-button:before {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 8px;
  height: 6px;
  margin-top: -3px;
  content: '';
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  background: url(/assets/img/live_view/dropdown_icon.png) no-repeat;
}
.right-popup-block .ui-selectmenu-button-open:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* Fuse Popup */
.right-popup-block .sidebar-maps-menu a.fuse-link {
  cursor: pointer;
}
.right-popup-block .fuse-popup-menu {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
}
.right-popup-block .fuse-popup-menu.opened {
  visibility: visible;
  opacity: 1;
}
.right-popup-block .fuse-popup-menu p {
  font-size: 14px;
  margin-bottom: 11px;
}
.right-popup-block .fuse-popup-menu .left-block {
  width: 96px;
  margin: 10px 8px 0 0;
}
.right-popup-block .fuse-popup-menu .right-block {
  float: left;
  width: 96px;
  margin-top: 10px;
}
.right-popup-block .jspTrack {
  width: 12px;
  background: rgba(51, 60, 77, .1);
}
.right-popup-block .jspDrag {
  left: 2px;
  width: 7px;
  background: #bcbcbc;
}
.right-popup-block .jspVerticalBar {
  width: 12px;
  background: transparent;
}
.right-popup-block .sidebar-maps-block {
  width: 130px;
  margin: 13px auto 0;
}
.right-popup-block .sidebar-maps-block .title {
  border: 1px solid #39586C;
  border-width: 1px 0;
  padding: 8px 0;
}
.right-popup-block .sidebar-maps-block .opacity-block {
  width: 110px;
  height: 77px;
  margin: 0 auto;
}
.right-popup-block .sidebar-maps-block .opacity-block .title {
  padding: 0;
  border: none;
  color: #B4FAFE;
  font-size: 14px;
}
.right-popup-block .sidebar-maps-block .select-map-block {
  height: 104px;
  padding-top: 20px;
  box-sizing: border-box;
}
.right-popup-block .sidebar-maps-block .select-map-block a {
  float: left;
  display: block;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  color: #B4FAFE;
  font-size: 14px;
  position: relative;
}
.right-popup-block .sidebar-maps-block .select-map-block a:before {
  background: url(/assets/img/live_view/maps_icon.png) no-repeat;
  width: 22px;
  height: 24px;
  content: "";
  position: absolute;
  left: 50%;
  top: 27px;
  margin-left: -11px;
}

.right-popup-block .sidebar-maps-block .select-map-block a:hover {
  color: #ff7c16;
}

.right-popup-block .sidebar-maps-block .select-map-block a:hover:before {
  background-position: 0 -24px;
}

.right-popup-block .sidebar-maps-block .select-map-block a.active:before {
  background-position: 0 -24px;
}

.right-popup-block .sidebar-maps-block .slider-range-block {
  width: 73%;
  margin: 21px auto;
}
.right-popup-block .export-block {
  margin-top: 20px;
}
.right-popup-block .export-block div {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  color: #B4FAFE;
  font-size: 14px;
  position: relative;
  height: 60px;
  margin-bottom: 20px;
}
.right-popup-block .export-block input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.right-popup-block .export-block div:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 28px;
  background: url(/assets/img/live_view/export_icon.png) no-repeat;
  width: 27px;
  height: 26px;
  margin-left: -13px;
}
.right-popup-block .export-block div:hover {
  color: #ff7c16;
}
.right-popup-block .export-block div:hover:before {
  background-position: 0 -26px;
}
.right-popup-block .export-block div.import:before {
  transform: scale(-1, 1);
}




/* Select Box */
.css-10nd86i {
  
}

.css-1hwfws3, .css-vj8t7z {
  /*height: 30px !important;*/
}
.css-vj8t7z, .css-2o5izw {
  border-radius: 0px !important;
  border: 1px solid #6ca6b5 !important;
  background: #13334a !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0px !important;
  cursor: pointer !important;

  // min-height: 30px !important;
  
}

.css-xp4uvy {
  color: #ff7c16 !important;
}

.css-1492t68 {
  color: #ff7c16 !important;
  font-size: 14px !important;
}

.css-15k3avv {
  border: 1px solid #6ca6b5 !important;
  border-radius: 0px !important;
  margin-top: -1px !important;
  background-color: #13334a !important;
}
.css-z5z6cw {
  background-color: transparent !important;
  color: #ff7c16 !important;
}
.css-wqgs6e {
  background-color: transparent !important;
  color: #ff7c16 !important;
  cursor: pointer !important;
}

.css-d8oujb {
  background-color: transparent !important;
}

.css-1ep9fjw svg, .css-19bqh2r svg, .css-1uq0kb5 svg{
  display: none;
}

.css-1ep9fjw, .css-19bqh2r, .css-1uq0kb5 {
  background: url(/assets/img/live_view/dropdown_icon.png) no-repeat;
  position: absolute;
  top: 50%;
  right: 3px;
  margin-top: -2px;
}
.css-1uq0kb5 {
  /* background: url(/assets/img/live_view/close_icon.png) no-repeat; */
}

/* Checkbox */
.checkbox-default {
  width: 50px;
  height: 18px;
  background: url(/assets/img/live_view/checkbox_icon.png);
  cursor: pointer;
}
.checkbox-selected {
  background-position: 0 -18px;
}




/* slider-range-block */

body .ui-slider-horizontal {
  height: 6px;
  box-sizing: border-box;
  border: 1px solid #DBE6ED;
  background: #39586C;
}
body .ui-slider-horizontal .ui-slider-handle {
  width: 7px;
  height: 15px;
  outline: none;
  background: url(/assets/img/live_view/slider_handle_icon.svg) no-repeat;
  background-size: cover;
  margin-left: -3.5px;
  top: -6px;
  cursor: pointer;
}
body .ui-slider .ui-slider-range {
  background: #39586C;
}

.slider-range-block {
  position: relative;
  width: 180px;
  margin: 71px auto 6px;
}
.slider-range-block p input {
  font-family: 'benderregular', sans-serif;
  font-size: 14px;
  position: absolute;
  bottom: -31px;
  left: 50%;
  box-sizing: border-box;
  width: 50px;
  margin-left: -25px;
  text-align: center;
  color: #fff;
  border: none;
  background: none;
}
.droppoi-popup-block .slider-range-block p input {
  top: -31px;
  bottom: auto;
}
.slider-range-block .btn-minus,
.slider-range-block .btn-plus {
  width: 16px;
  height: 15px;
  position: absolute;
  top: -5px;
  cursor: pointer;
}
.slider-range-block .btn-minus {
  background: url(/assets/img/live_view/minus_icon.svg) no-repeat;
  left: -15px;
}
.slider-range-block .btn-plus {
  background: url(/assets/img/live_view/plus_icon.svg) no-repeat;
  right: -15px;
}


/*rc-slider*/

.ui-slider-horizontal {
  padding-left: 7px;
}
.rc-slider * {
  background: none !important;
}
.rc-slider-handle {
  margin-top: -10px !important;
  background: url(/assets/img/live_view/slider_handle_icon.svg) no-repeat !important;
  border: 0px !important;
  border-radius: 0% !important;
}


/* counter */
.live-counter{

  input {
    font-family: 'benderregular', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    width: 30px;
    text-align: center;
    color: #fff;
    border: none;
    background: none;
  }

  .prev, .next {
    height: 10px;
    cursor: pointer;
  }
  .prev.action-next {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 10px solid white;
    margin-right: 0px;
  }
  .next.action-prev {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid white;
    margin-left: 3px;
  }
}

/* Button */
.buttons-control.buttons-block button {
  width: 73px;
  height: 32px;
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-family: 'benderregular', sans-serif;
}

button.btn-clear {
  background: #39586C !important;
}
button.btn-delete {
  background: #6CA6B5 !important;
  margin: 0 3px;
}
button.btn-save {
  background: #FF7C16 !important;
}

.cesium-viewer-infoBoxContainer {
  position: absolute;
  top: 0px;
  //background: rgb(27, 55, 78) !important;
  color: #FFF;
  width: 450px;
  height: auto !important;
  //border: 1px solid #fff;
  margin:0px;
  padding:0px;
 
}

.cesium-viewer-infoBoxContainer .cesium-infoBox-camera {
  display: none;
}

.cesium-viewer-infoBoxContainer .cesium-infoBox-iframe {

  border: none;
  height: auto!important;
  width: 465px;
  max-height: 175px !important;
}


.cesium-viewer-infoBoxContainer .cesium-infoBox-close {
  position: absolute;
  top: -9px;
  right: -9px;
  margin-right: 0 !important;
}

.cesium-viewer-infoBoxContainer .cesium-infoBox-title {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  font-family: inherit;
}

.cesium-infoBox-description a {
  color: #ff7c16;
}
a.action_detail {
  float: right;
  color: #b8850c;
}

.cesium-viewer-infoBoxContainer div {
margin: 0px;
}
.cesium-viewer-infoBoxContainer label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 300;
  width: 93px;
}
#add-icon {
  float: right;
  text-align: center;
  margin-right: 4px;
}
.cesium-viewer-infoBoxContainer input[type="file"] {
  display: inline-block;
}
#layer-select {
  width: 67%;
  height: 26px;
  color:#000;
}
.cesium-viewer-infoBoxContainer form {
    padding: 10px 27px!important;
}
button.cesium-infoBox-close {
  background: transparent;
  border: none!important;
}


.cesium-viewer-infoBoxContainer::-webkit-scrollbar-track
  {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   border-radius: 10px !important;
   background-color: #1b5d8c !important;
  }
  
  .cesium-viewer-infoBoxContainer::-webkit-scrollbar
  {
   width: 8px !important;
   background-color: #1b5d8c !important;
  }
  
  .cesium-viewer-infoBoxContainer::-webkit-scrollbar-thumb
  {
   border-radius: 10px !important;
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
   background-color: #15354c !important;
  }

  #left-click-container {
    height: 114px;
    overflow-x: hidden;
    overflow-y: hidden;
}

iframe.cesium-infoBox-iframe {
  border: 1px solid #fff !important;
}
iframe.cesium-infoBox-iframe {
  background: #072033;
 
}

#right-click-container {
  background: #072033;
  padding: 8px;
}